html, body {
	font-size: 100% !important;
}

.v-ripple__container,
.v-ripple__container * {
	max-width: none;
}

.v-input--selection-controls__ripple {
	max-width: none;
}

.application--wrap {
	width: 100%;
}

.theme--light.v-input--is-disabled .v-label,
.theme--light.v-icon.v-icon--disabled,
.theme--light.v-list .v-list--disabled {
	color: #767676 !important;
}

.theme--light.v-btn.v-btn--disabled .v-icon {
	color: #949494 !important;
}

.v-tabs__bar .v-tabs__item--disabled {
	color: #333 !important;
}

.theme--light.v-btn.v-btn--disabled {
	color: #646464 !important;
}

.content h1 {
	font-size: 2.2rem;
	margin-bottom: 25px;
}

.content h2 {
	font-size: 1.65rem;
	margin-bottom: 16px;
	margin-top: 35px;
}

.content h2 + h3 {
	margin-top: 0;
}

.content h3 {
	font-size: 1.35rem;
	margin-bottom: 10px;
	margin-top: 35px;
}

.content h3 + h4 {
	margin-top: 0;
}

.content h4 {
	font-size: 1.15rem;
	margin-bottom: 5px;
	margin-top: 15px;
}

pre[class*='language-'] {
	align-items: center;
	box-shadow: none;
	display: flex;
	border-radius: 2px;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	background: #2d2d2d;
	margin: 0;
	margin-bottom: 5px;
}

code[class*='language-'], code {
	position: relative;
	box-shadow: none;
	overflow-x: auto;
	overflow-y: hidden;
	word-break: break-word;
	flex-wrap: wrap;
	align-items: center;
	vertical-align: middle;
	white-space: pre-wrap;
	margin: 0;
	font-family: 'Inconsolata', monospace;
	font-weight: 300;
	font-size: .9rem;
	line-height: 1.55;
	padding: 0 5px;
}

code {
	background: rgba(240, 240, 240, .8);
	color: rgba(0, 0, 0, .7);
}

code::after,
code::before {
	content: none;
}

pre code {
	background: transparent;
	padding: 0;
	color: #ccc;
}

.header-anchor {
	color: #0c4887;
	transition: opacity .15s !important;
	text-decoration: none;
	font-size: .85em;
	float: left;
	margin-left: -.8em;
	margin-top: .125em;
	padding-right: .23em;
	opacity: 0;
	position: absolute;
}

[id]:hover > .header-anchor,
.header-anchor:focus {
	opacity: 1;
}

.icon.outbound {
	color: inherit;
}

.custom-block {
	padding: .1rem 1.5rem;
	border-left-width: .5rem;
	border-left-style: solid;
	margin: 1rem 0;
	background-color: #f3f5f7 !important;
	border-color: #42b983;
}

.custom-block.warning {
	background-color: rgba(255, 229, 100, .3) !important;
	border-color: #e7c000 !important;
}

.custom-block .custom-block-title {
	font-weight: 600;
	margin-top: 10px;
	margin-bottom: 0;
}

.custom-block.warning .custom-block-title {
	color: #776300;
}

.custom-block.danger {
	background-color: #ffe6e6 !important;
	border-color: #c00 !important;
}

.custom-block.danger .custom-block-title {
	color: #4d0000;
}
